.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  flex-grow: 1;
}

.user-info {
  margin-right: 16px;
}

.theme-toggle {
  margin-right: 8px;
}

.logout-button {
  white-space: nowrap;
}

.menu-button {
  margin-right: 16px;
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .user-info {
    display: none;
  }
}
